
   body {
    background-color: antiquewhite;
    margin: 50px 2%;
    justify-content: center;
    }

  
  #addTask {
    position: relative;
  }
  
  #list {
    background: grey;
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto;
    text-align: center;
  }
  ul {
    list-style-type: none;
  }
  
  
  .button {
    padding: 8px 16px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .button:hover {
    background-color: #555;
  }
  
  .input-container input {
    flex: 1;
    margin-right: 20px;
  }
  
  .input-container button {
    padding: 8px 16px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .trash-icon {
    color: #333;
    cursor: pointer;
  }
  
  .special-button {
    display: inline;
    float:inline-end;
    font-weight: bold;
    clear: both;
    color:black;
    text-decoration: solid;
  }
  
  